[user]
  name = Tomas Vik
  email = tvik@gitlab.com
[includeIf "gitdir:~/workspace/private/"]
  path = .gitconfig-private
[core]
  editor = nvim
  autocrlf = input
  excludesfile = ~/.gitignore
[color]
  ui = auto
[merge]
  tool = meld
[alias]
  st = status
  ci = commit --verbose
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  pushf = push --force-with-lease
  aa = add --all
  fa = fetch --all
  b = branch
  ds = diff --stat=160,120
  ss = show --stat=160,120
  dh1 = diff HEAD~1
  dft = difftool

  # Fancy logging.
  l = log --pretty=format:'%C(yellow)%h%Creset %C(auto)%d%Creset %C(white)%s%Creset %C(dim white)%an (%as)%Creset'  --graph

  ll = !git l -10
  la = !git l --all


[push]
  default = current
  autoSetupRemote = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[pull]
  ff = only
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[diff]
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[init]
	defaultBranch = main
