pane_frames false
ui {
    pane_frames {
        hide_session_name true
    }
}
simplified_ui true

keybinds {
    normal clear-defaults=true {
        bind "Ctrl y" { TogglePaneFrames; SwitchToMode "pane"; }
    }
    locked clear-defaults=true {
    }
    pane clear-defaults=true {
        bind "Esc" "Enter"  { TogglePaneFrames; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "resize"; }
        bind "s" { SwitchToMode "scroll"; }
        bind "m" { SwitchToMode "move"; }
        bind "o" { SwitchToMode "session"; }
        bind "/" { EditScrollback; SwitchToMode "normal"; }
        bind "Ctrl q" { Quit; }
        bind "h" "Left" { MoveFocus "Left"; }
        bind "l" "Right" { MoveFocus "Right"; }
        bind "j" "Down" { MoveFocus "Down"; }
        bind "k" "Up" { MoveFocus "Up"; }
        bind "n" { NewTab; }
        bind "K" { NewPane; }
        bind "J" { NewPane "Down"; }
        bind "L" { NewPane "Right"; }
        bind "H" { NewPane "Left"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "Ctrl d" { CloseFocus; }
        bind "Ctrl D" { CloseTab; }
        bind "Ctrl n" { NewTab; TogglePaneFrames; SwitchToMode "normal"; }
        bind "Ctrl h" { GoToPreviousTab; }
        bind "Ctrl l" { GoToNextTab; }
        bind "Ctrl c" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Ctrl s" { ToggleActiveSyncTab; }
        bind "Ctrl 1" { GoToTab 1; }
        bind "Ctrl 2" { GoToTab 2; }
        bind "Ctrl 3" { GoToTab 3; }
        bind "Ctrl 4" { GoToTab 4; }
        bind "Ctrl 5" { GoToTab 5; }
        bind "Ctrl 6" { GoToTab 6; }
        bind "Ctrl 7" { GoToTab 7; }
        bind "Ctrl 8" { GoToTab 8; }
        bind "Ctrl 9" { GoToTab 9; }
        bind "f" { ToggleFocusFullscreen; }
        bind "z" { TogglePaneFrames; }
        bind "w" { ToggleFloatingPanes; }
        bind "e" { TogglePaneEmbedOrFloating; }
    }
    tab clear-defaults=true {
    }
    resize clear-defaults=true {
        bind "Space" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "Esc" { SwitchToMode "pane"; }
        bind "h" "Left" { Resize "Left"; }
        bind "j" "Down" { Resize "Down"; }
        bind "k" "Up" { Resize "Up"; }
        bind "l" "Right" { Resize "Right"; }
        bind "=" "+" "i" { Resize "Increase"; }
        bind "-" "n" { Resize "Decrease"; }
    }
    move clear-defaults=true {
        bind "Space" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "Esc" { SwitchToMode "pane"; }
        bind "n" "Tab" { MovePane; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
    }
    scroll clear-defaults=true {
        bind "Space" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "Esc" { ScrollToBottom; SwitchToMode "pane"; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    session clear-defaults=true {
        bind "Space" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "Esc" { SwitchToMode "pane"; }
        bind "d" { Detach; }
    }
    search clear-defaults=true {
        bind "Space" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "Esc" { ScrollToBottom; SearchInput 27; SwitchToMode "pane"; }
        bind "/" { SwitchToMode "entersearch"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "Down"; }
        bind "N" { Search "Up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch clear-defaults=true {
        // bind "Space" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "search"; }
        bind "Esc" { SearchInput 27; SwitchToMode "pane"; }
    }
    RenameTab clear-defaults=true {
        bind "Space" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "pane"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "pane"; }
    }
    RenamePane clear-defaults=true {
        bind "Space" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "pane"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "pane"; }
    }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

// Send a request for a simplified ui (without arrow fonts) to plugins
// Options:
//   - true
//   - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
// pane_frames true

// Choose the theme that is specified in the themes section.
// Default: default
//
// theme "default"

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir /path/to/my/layout_dir

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"
